<!doctype html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="vue.js"></script>
<!--    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700&display=swap" rel="stylesheet">-->
    <link rel="stylesheet" href="style.css">
    <title>Proj. Prático - Loja</title>
</head>
<body>
<div id="app">
    <section class="modal" v-if="item" @click="fecharModal">
        <div class="modal_container">
            <div class="modal_img">
                <img :src="item.img" :alt="item.nome">
            </div>
            <div class="modal_dados">
                <button @click="item = false" class="modal_fechar">X</button>
                <span class="modal_preco">
                    {{formatPreco(item.preco)}}
                </span>
                <h2 class="modal_titulo">{{item.nome}}</h2>
                <p><small>{{item.descricao}}</small></p>
                <button class="modal_btn">Adicionar Item</button>
            </div>
            <div class="avaliacoes">
                <h2 class="modal_avaliacoes_subtitulo">Avaliações</h2>
                <ul>
                    <li v-for="avaliacao in item.avaliacoes" class="avaliacao">
                        <p class="avaliacao_descricao"><small>{{avaliacao.descricao}}</small></p>
                        <p class="avaliacao_usuario"><small>{{avaliacao.nome}} | {{avaliacao.estrelas}} estrelas</small></p>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="produtos">
        <div v-for="produto in produtos" @click="abrirModal(produto.id)" :key="produto.id" class="produto">
            <img :src="produto.img" :alt="produto.nome" class="produto_img">
            <div class="produto_info">
                <span class="produto_preco">{{formatPreco(produto.preco)}}</span>
                <h2 class="produto_titulo">{{produto.nome}}</h2>
            </div>
        </div>
    </section>
</div>

<script src="app.js"></script>
</body>
</html>