body,
h1,
h2,
ul,
li {
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
}

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #1a1a1a 30%, #ffffff 30%);
    font-family: "Noto Serif";
}

#app {
    padding: 0 80px;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    padding: 20px 0;
    margin: 0 auto;
}

.logo {
    width: 80px;
}

.carrinho_menu::after {
    content: "";
    display: inline-block;
    background: url("./assets/carrinho.svg") no-repeat;
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.carrinho_menu {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* LISTA PRODUTOS */
.produtos {
    max-width: 900px;
    margin: 100px auto 0 auto;
}

.produto {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    background: #ffffff;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.produto_img {
    max-width: 300px;
    margin-right: 40px;
}

.produto_titulo {
    font-size: 3rem;
    line-height: 1;
}

.produto_preco {
    color: rgba(0, 0, 0, 0.5);
}

/* MODAL */

.modal::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 80px;
}

.modal_container {
    position: relative;
    background: linear-gradient(to right, transparent 250px, white 250px);
    z-index: 1;
    display: grid;
    align-items: end;
    grid-gap: 50px;
    padding: 50px 50px 50px 0;
    animation: fadeIn .3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3D(50px, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3D(0px, 0, 0);
    }
}

.modal_fechar {
    border-radius: 50%;
    border: 2px solid #000;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 1rem;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, .1), 0px 4px 10px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.modal_img {
    grid-column: 1;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.modal_img img {
    max-width: 300px;
    display: block;
}

.modal_dados {
    grid-column: 2;
    max-width: 600px;
}

.modal_titulo {
    font-size: 3rem;
}

.modal_btn {
    margin-top: 80px;
    background: #000;
    cursor: pointer;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    padding: 10px 25px;
    font-family: "Noto Serif";
}

.modal_btn.esgotado {
    background: #808080;
}

.modal_btn:active {
    background: #808080;
}

/* AVALIACOES */

.avaliacoes {
    grid-column: 2;
}

.avaliacoes_subtitulo {
    font-size: 1.75rem;
}

.avaliacao {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}

.avaliacao_descricao {
    color: rgba(0, 0, 0, 0.7);
    margin: 20px 0 5px 0;
}

.avaliacao_usuario {
    font-weight: bold;
}

/* ALERTA */
.alerta {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 10;
    width: 100%;
    text-align: center;
    display: none;
}

.alerta.ativo {
    display: block;
    animation: fadeInDown .3s forwards;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3D(0, -30px, 0);
    }
    to {
        opacity: 1;
        transform: translate3D(0, 0px, 0);
    }
}

.alerta_mensagem {
    background: #ffffff;
    display: inline-block;
    padding: 20px 40px;
    border: 2px solid black;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 4px 10px rgba(0, 0, 0, 0.2);
}


/* CARRINHO */
.carrinho_modal::before{
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: rgba( 0, 0, 0,.5);
}
.carrinho_modal{
    position: absolute;
    display: flex;
    flex-direction: column;
    top:0px;
    left: 0px;
    width: 100%;
    padding: 20px;
    display: none;
}
.carrinho_modal.ativo{
    display: block;
}

.carrinho_container{
    position: relative;
    margin: 80px auto;
    background: #ffffff;
    padding: 40px;
    max-width: 800px;
    animation: fadeInDown .3s forwards;
}

.carrinho_item{
    display: grid;
    grid-template-columns: 1fr 1fr 50px ;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 10px 0;
}
.carrinho_titulo{
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid #000000;
}
.carrinho_remover{
    border:none;
    font-size: 1rem;
    cursor: pointer;
}
.carrinho_preco{
    text-align: right;
}
.carrinho_totao{
    text-align: right;
    padding: 10px 50px 10px 0;
    margin-bottom: 20px;
    border-bottom: 2px solid #000;
}
.carrinho_finalizar{
    display: block;
    margin-left: auto;
    background: #000;
    cursor: pointer;
    color: #ffffff;
    font-size: 1rem;
    padding: 10px 25px;
    border: none;
    font-family: "Noto Serif";
}

.carrinho_fechar{
    border-radius: 50%;
    border: 2px solid #000;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 1rem;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, .1), 0px 4px 10px rgba(0, 0, 0, .2);
    cursor: pointer;
}

/* RESPONSIVO */

@media screen and (max-width: 900px) {
    #app {
        padding: 0 10px;
    }
    .produtos {
        margin-top: 40px;
    }
    .produto {
        flex-direction: column;
        align-items: flex-start;
        max-width: 300px;
        margin: 30px auto;
    }
    .produto_info {
        padding: 20px;
    }
    .produto_img {
        max-width: 100%;
    }
    .produto_titulo {
        font-size: 1.5rem;
    }
    .modal {
        padding: 10px;
    }
    .modal_container {
        grid-gap: 20px;
        background: #ffffff;
        padding: 10px 0;
    }
    .modal_img {
        grid-row: 2;
    }
    .modal_img img {
        width: 100%;
        max-width: initial;
    }
    .modal_dados {
        grid-column: 1;
        padding: 10px;
    }
    .modal_btn {
        margin-top: 20px;
    }
    .avaliacoes {
        grid-column: 1;
        padding: 10px;
    }
    .carrinho_modal {
        padding: 10px;
    }
}
