<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8" />
    <title>Vue</title>
    <script src="vue.js"></script>
  </head>
  <body>
      <!-- 
            Utilizando a API:
            http://viacep.com.br/ws/04538133/json

            Mostre o CEP, logradouro, complemento bairro, localidade, etc

            Use o arquivo json da aula, para listar os recursos e as matérias

       -->
    <div id="app">
        <button @click="puxarCursos">Puxar Cursos</button>
       <ul>
           <div v-for="curso in cursos">
               <h1><a :href="curso.link">{{curso.curso}}</a></h1>
               <ul>
                   <li v-for="{nome, tempo} in curso.aulas">
                        {{tempo}} - {{nome}}
                   </li>
               </ul>
           </div>
       </ul>
    </div>

    <script>
        const vm = new Vue({
            el:"#app",
            data:{
                cursos: {}
            },
            methods: {
                puxarCursos(){
                    fetch("./cursos.json")
                    .then(r => r.json())
                    .then(r => {
                        this.cursos = r;
                    })
                }
            },
        });

     
    </script>
  </body>
</html>
