<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8" />
    <title>Vue</title>
    <script src="vue.js"></script>
  </head>
  <body>
    <div id="app">
      <p>{{total}}</p>
    </div>

    <div id="app2">
      <p v-for="carro in carrosAzuis">{{carro.marca}}</p>
    </div>

    <div id="app3">
      <p>{{contador}}</p>
      <button @click="contador++">Adicionar</button>
    </div>

    <div id="app4">
      <input type="text" placeholder="cep" maxlength="8" v-model="cep" />
      <h1>{{cep}}</h1>
      <ul>
        <li v-for="(valor, chave) in endereco">{{chave}}: {{valor}}</li>
      </ul>
    </div>

    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          preco: 50,
          desconto: 10
        },
        computed: {
          total() {
            return "R$ " + (this.preco - this.desconto);
          }
        }
      });

      const vm2 = new Vue({
        el: "#app2",
        data: {
          carros: [
            {
              marca: "VW",
              cor: "Azul"
            },
            {
              marca: "Ford",
              cor: "Preto"
            },
            {
              marca: "Renalt",
              cor: "Verde"
            }
          ]
        },
        computed: {
          carrosAzuis() {
            const filtro = this.carros.filter(({ cor }) => cor === "Azul");
            return filtro;
          }
        }
      });
      // Watch
      const vm3 = new Vue({
        el: "#app3",
        data: {
          contador: 0
        },
        watch: {
          contador(valorNovo, valorAntigo) {
            console.log(this.contador);
            console.log(valorNovo);
            console.log(valorAntigo);
          }
        }
      });

      // watch assincrono
      const vm4 = new Vue({
        el: "#app4",
        data: {
          cep: "",
          endereco: {}
        },
        watch: {
          cep(valor) {
            if (valor.length === 8) {
              fetch(`https://viacep.com.br/ws/${valor}/json/`)
                .then(r => r.json())
                .then(r => {
                  this.endereco = r;
                });
            }
          }
        }
      });
    </script>
  </body>
</html>
