<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <title>Vue - COmpoenntes</title>
    <script src="vue.js"></script>
</head>
<body>

<div id="app">
    <lista-produtos :produtos="listaItens" titulo="Fruta é" ></lista-produtos>
</div>

<script type="module">

    const ItemProduto = {
        name: "ItemProduto",
        //props: ["nomeFruta", "total"],
        props:{
            nomeFruta: String,
            total: [Number, String]
        },
        template: `<li>Produto: {{nomeFruta}} - Total de {{total + 2}}</li>`,
    };

    const ListaProdutos = {
        name: "ListaProdutos",
        props: ["produtos"],
        components:{
            ItemProduto
        },
        template: `
                    <ul>
<!--                        <li v-for="produto in produtos"> <small>{{titulo}}</small> {{produto}}</li>-->
                        <item-produto
                        v-for="produto, index in produtos"
                        :key="produto + index"
                        :nomeFruta="produto"
                        :total="20"
                        ></item-produto>
                    </ul>

        `,
    };

    const BlogPost = {
        name: "BlogPost",
        props:{
            titulo: String,
            likes: Number,
            tags:{
                type: Array,
                required: true
            },
            thumb:{
                type: String,
                default: "./img/img.png"
            }
        }
    };

    const vm = new Vue({
        el: "#app",
        data:{
            listaItens: ["Item 1", "Item 2"]
        },
        components: {
            ListaProdutos
        }
    });
</script>


</body>
</html>