<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <title>03 Diretivas e Hooks</title>
    <script src="./vue.js"></script>
</head>
<body>

<div id="app">
    <input v-model="nome" />
    <textarea v-model="mensagem"></textarea>
    <p>{{nome}}</p>
    <p>{{mensagem}}</p>
</div>
<hr>
<div id="app2">
    <input v-model="texto" />
    <input :value="texto" />
    <p>{{texto}}</p>
</div>
<hr>
<div id="app3">
    <input type="checkbox" v-model="receberEmail" id="receberEmail" />
    <label for="receberEmail">Receber Email</label> <br>
    <input type="checkbox" v-model="termos" id="termos" />
    <label for="termos">Termos e Condições</label>

    <p>Receber Email: {{receberEmail}}</p>
    <p>Leu os Termos: {{termos}}</p>
</div>
<hr>
<div id="app4">
    <input name="cor" type="radio" v-model="cor" id="azul" value="Azul">
    <label for="azul">Azul</label> <br>
    <input name="cor" type="radio" v-model="cor" id="vermelho" value="Vermelho">
    <label for="vermelho">Vermelho</label> <br>
    <p>cor: {{cor}}</p>
</div>
<hr>
<div id="app5">
    <select id="fruta" v-model="fruta">
        <option disabled value="">Selecione uma fruta</option>
        <option value="banana">Banana</option>
        <option value="morango">Morango</option>
        <option value="uva">Uva</option>
    </select>
    <p>FRUTA: {{fruta}}</p>
</div>
<hr>
<div id="app6">
    <textarea v-model.lazy="mensagem" name="mensagem" id="mensagem" cols="30" rows="10"></textarea>
    <input v-model.number="total" />
    <input v-model.trim="email" />

    <p>Mensagem: {{mensagem}}</p>
    <p>Numero: {{total}}</p>
    <p>Email: {{email}}</p>
</div>

<script>
const vm = new Vue({
    el:"#app",
    data:{
        nome: "",
        mensagem: ""
    }
});

const vm2 = new Vue({
    el:"#app2",
    data:{
        texto:""
    }
});

const vm3 = new Vue({
    el:"#app3",
    data:{
        receberEmail: true,
        termos: false
    }
});

const vm4 = new Vue({
    el:"#app4",
    data: {
        cor: ""
    }
});

const vm5 = new Vue({
    el: "#app5",
    data:{
        fruta: ""
    }
});

const vm6 = new Vue({
    el: "#app6",
    data: {
        mensagem: "",
        total: 0,
        email: ""
    }
});
</script>

<style>

</style>
</body>
</html>