<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
</head>
<body>

<div id="app">
    <div v-for="fruta in frutas" :key="fruta.id">
        <p>{{fruta.nome}} - {{fruta.cor}}</p>
    </div>
    <span v-for="numero in 5">{{numero}}- </span> 
    <!-- 1- 2- 3- 4- 5- -->
</div>

<script>

const vm = new Vue({
    el: "#app",
    data:{
        frutas:[{
            id: "banana-1",
            nome: "Banana",
            cor: "amarela"
        },
        {
            id: "melancia-1",
            nome: "MELANCIA",
            cor: "verde"
        },
        {
            id: "Abacate-1",
            nome: "Abacate",
            cor: "verde"
        }
    ]
    }
});

</script>
</body>
</html>