<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
</head>
<body>

<div id="app">
    <ul>
        <li v-for="(curso, index) in cursos">{{index}} - {{curso}}</li>
    </ul>
</div>

<div id="app2">
    <!-- <div v-for="estado in estados"> -->
    <div v-for="(estado , key) in estados">
        <p>{{key}} - {{estado.nome}} - {{estado.populacao}}</p>
    </div>
</div>

<script>

const vm = new Vue({
    el: "#app",
    data:{
        cursos: ["html","CSS","JS","wordpress","PHP"]
    }
});
const vm2 = new Vue({
    el: "#app2",
    data:{
        estados:{
            sp:{
                nome: "São Paulo",
                populacao: "45 mil"
            },
            pa:{
                nome: "Pará",
                populacao: "15 mil"
            },
            RJ:{
                nome: "RIO DE JANEIRO",
                populacao: "20 mil"
            }
        }
    }
});

</script>
</body>
</html>