<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="vue.js"></script>
  <title>Vue.js</title>
</head>

<body>
  <div id="app">
    <input type="radio" v-model="cor" value="azul" id="azul" />
    <label for="azil">AZUL</label>
    <input type="radio" v-model="cor" value="vermelho" id="vermelho" />
    <label for="azil">VERMELHO</label>
    <p>COR: {{cor}}</p>
  </div>

  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        cor: ""
      }
    });
    
  </script>

  <style>

  </style>
</body>
</html>