<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="vue.js"></script>
  <title>Vue.js</title>
</head>

<body>
  <div id="app">
    <input type="text" v-model="nome" />
    <textarea name="mensagens" id="" cols="30" rows="10" v-model="mensagem"></textarea>
    <p>{{nome}}</p>
    <p>{{mensagem}}</p>
  </div>

  <div id="app2">
    <input type="text" v-model="nome" />
    <input type="text" :value="email" />
    
    <p>nome: {{nome}}</p>
    <p>email: {{email}}</p>
  </div>

  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        nome: "",
        mensagem: ""
      }
    });

    const vm2 = new Vue({
      el: "#app2",
      data: {
        nome: "José Stélio",
        email:"jose@jose.com"
      }
    });
  </script>

  <style>

  </style>
</body>
</html>